name: Version Manager (with override)

on:
  workflow_call:
    inputs:
      version:
        description: 'version number to honor (no v... ex 8.0.0.10)'
        required: false
        type: string
        default: ""
      defaultBranch:
        description: "Branch for resetting minor version (EX: main)"
        required: false
        type: string
        default: main
    outputs:
      version:
        description: "Automatic Version Number"
        value: ${{ jobs.versioner.outputs.version }}
    secrets:
      OVERRIDE_TOKEN:
        required: false
permissions:
  contents: read
      
jobs:
  versioner:
    runs-on: ubuntu-latest
    name: ${{ inputs.version != '' && format('Manual Version {0}', inputs.version) || 'Auto Version' }}
    permissions:
      contents: read # read is needed to get the tags from the repository
    outputs:
      version: ${{ inputs.version != '' && inputs.version || steps.version.outputs.version }}
    steps:
      - name: ${{ secrets.OVERRIDE_TOKEN != '' && 'Checkout repo (override)' || 'Checkout repo (default)' }}        
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          token: ${{ secrets.OVERRIDE_TOKEN || secrets.GITHUB_TOKEN }}
          persist-credentials: false

      - name: Create Version
        id: version
        if: ${{ inputs.version == '' }}
        uses: gks-composite/global-version@main
        with:
          tagPrefix: v
          defaultBranch: ${{ inputs.defaultBranch }}
