name: Generic Global Scanner

on:
  workflow_call:
    inputs:
      working_dir:
        description: 'directory should be scanned'
        required: false
        type: string
        default: "."
    secrets:
      OVERRIDE_TOKEN:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      statuses: write
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          token: ${{ secrets.OVERRIDE_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: recursive
          persist-credentials: false

      - name: Run Trivy Scan
        uses: Xander-Rudolph/trivy-scan@ee0df9e573d42786b17f68c93cfd139a5ad01707 # main as of 2025-1-22
        with:
          severity: "HIGH,CRITICAL"
          working_dir: ${{ inputs.working_dir || github.workspace }}

      - name: Upload results json
        uses: actions/upload-artifact@v4
        with:
          name: trivy-json
          path: "${{ inputs.working_dir || github.workspace }}/.-fs.json"
