name: Generic Global Linter

on:
  workflow_call:
    inputs:
      branch:
        description: 'Which branch is the default'
        required: false
        type: string
        default: ""

jobs:
  lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      packages: read
      contents: write
      statuses: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
          persist-credentials: true

      - name: Lint Code Base
        uses: super-linter/super-linter@v7.3.0 # x-release-please-version
        env:
          DEFAULT_BRANCH: ${{ inputs.branch || github.event.repository.default_branch || 'main'}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_ERRORS: true
          FIX_JSON_PRETTIER: true
          FIX_YAML_PRETTIER: true
          FIX_MARKDOWN_PRETTIER: true
          # ref bug: https://github.com/super-linter/super-linter/issues/6734
          # JSCPD_CONFIG_FILE: ${{ env.working_dir || github.workspace }}/.jscpd.json
          FIX_PYTHON_RUFF: true
          FIX_PYTHON_PYINK: true
          FIX_PYTHON_ISORT: true
          FIX_PYTHON_BLACK: true

      - name: Commit and push linting fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "chore: fix linting issues"
          commit_user_name: Autobot
          commit_user_email: Autobot@facefirst.com
        